	<div id="content-wrapper">
		<p id="main" contenteditable="true"></p>
		<p id="sidebar" contenteditable="true"></p>		
	</div>

	<footer>
		<a href="#">Side Notes</a> designed and built by <a href="http://twitter.com/franciscohui" target="_blank">Francisco Hui</a>
	</footer>