<div id="wrapper">

	<section class="module">
		<header id="header1" contentEditable="true">Title</header>
		<article id="article1" contenteditable="true">Notes</article>
	</section>

	<section class="module">
		<header id="header2" contentEditable="true">Title</header>
		<article id="article2" contenteditable="true">Notes</article>		
	</section>

	<section class="module">
		<header id="header3" contentEditable="true">Title</header>
		<article id="article3" contenteditable="true">Notes</article>		
	</section>	

</div><!-- #wrapper -->

<footer>
	<a href="#">Side Notes</a> designed and built by <a href="http://twitter.com/franciscohui" target="_blank">Francisco Hui</a>
</footer>