// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*SIDE NOTES*/
/*GLOBAL STYLES*/
@media screen and (max-width: 480px){
	html{
		min-height: 850px;
	}
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body{
	font-family: arial, sans-serif;
	font-size: 1.2em;
	background: gray;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
}
a{
	text-decoration: none;
	font-weight: bold;
	color: black;
}
a:hover{
	text-decoration: underline;
}
footer{
	position: fixed;
	display: block;
	left: 0;
	width: 100%;
	bottom: 10px;
	margin: 25px 0 0 0;
	font-size: .7em;
	text-align: center;
}

/*TEXT MODULES*/
#wrapper{
	display: -webkit-flex; /*makes text modules flex*/
	align-items: flex-start; /*makes items align to the top and not stretch*/
	-webkit-flex-wrap: wrap; /*makes text modules wrap on smaller screens*/
	justify-content: center; 
	margin: 2em 0 0 0;
}
.module{
	width: 320px;
	min-width: 250px;
	min-height: 250px;
	background: white;
	border: 1px solid silver;
}
.module header, .module article{
	padding: 10px;
}
.module header{
	font-weight: bold;
	font-size: 1.5em;
}
.module header:focus, .module article:focus{
	outline: none;
}




